@font-face{
	font-family: "gokuboso";
	src: url(fonts/chogokubosogothic_5.ttf);
}
@font-face{
	font-family: "focus";
	src: url(fonts/Focus-Regular.ttf);
}
@font-face{
	font-family: "anke";
	src: url(fonts/Anke.ttf);
}
@font-face{
	font-family: "dual";
	src: url(fonts/Dual-300.otf);
}